/* custom css here  */

body {
    background-color: #282828;
}

html, h1, h2, h3, h4, h5, h6, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tm-white-bg {
    background-color: #ffffff
}

/********************** top bar  ********************/

.tm-topbar {
    height: 50px;
    background-color: #2e2e2e;
    color: #9f9f9f;
}

.tm-topbar div {
    padding: 15px
}

.tm-topbar div ul {
    list-style: none;
    padding-left: 12px;
}

.tm-topbar div ul li {
    float: left;
    padding-right: 5px;
    font-size: 13px
}

.tm-topbar div ul li a {
    color: #9f9f9f;
}

.tm-topbar div ul li::before {
    content: '| '
}

.tm-topbar div ul li:nth-child(1)::before {
    display: none
}

.tm-topbar div:nth-child(2) {
    padding: 10px;
    padding-right: 20px
}

.tm-topbar div:nth-child(2) a {
    background-color: #787878;
    text-shadow: none;
    border: none;
    color: #ffffff;
}

.tm-topbar div:nth-child(2) a:hover {
    background-color: #db4a39;
}

/********************** nav bar  ********************/

.tm-navbar {
    height: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tm-navbar ul {
    border-bottom: 4px solid #f1f1f1;
    text-align: center;
}

.tm-navbar ul li a {
    text-transform: uppercase
}

.tm-navbar ul li.tm-active {
    border-bottom: 4px solid #0099ff;
}

/********************** header  ********************/

.tm-header {
    height: 100px;
    background-color: #ffffff;
}

.tm-header div:nth-child(1) div {
    line-height: 0px;
    padding: 15px
}

.tm-header div:nth-child(1) div a {
    text-decoration: none;
    color: #282828
}

.tm-header div:nth-child(2) form {
    padding: 15px;
    padding-top: 50px
}

/********************** Slider  ********************/

.tm-slider {
    height: 500px;
    background-color: #f1f1f1;
}

.tm-slider div:nth-child(1) {
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto
}

.tm-slider div:nth-child(2) {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto
}

/********************** Content  ********************/

.tm-content {
    height: 500px;
    background-color: #ffffff
}

.tm-content div {
    text-align: center
}

.tm-content div {
    margin-top: auto;
    margin-bottom: auto
}

.tm-content h3 {
    color: #0099ff
}

/********************** call out section  ********************/

.tm-callout {
    height: 150px;
    background-color: #ffffff;
}

.tm-callout .tm-custom-block {
    background-color: #e0e0e0;
    text-align: center;
    padding: 15px;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-left: 10px solid #0099ff
}

.tm-callout .tm-custom-block div:nth-child(2) button {
    padding: 0px 30px 0px 30px;
}

.tm-callout .tm-custom-block div:nth-child(1) {
    padding-top: 40px
}

.tm-callout .tm-custom-block div:nth-child(1) h1, .tm-callout .tm-custom-block div:nth-child(1) h3 {
    line-height: 10px
}

.tm-callout .tm-custom-block div:nth-child(2) {
    padding-top: 40px
}

/********************** footer  ********************/

.tm-footer {
    height: 420px;
    background-color: #1a1a1a;
    color: #ffffff;
}

.tm-footer h3 {
    color: #ffffff;
}

.tm-footer div {
    padding: 15px
}

.tm-footer div:nth-child(1) a {
    display: block;
    text-align: right;
}

.tm-footer div:nth-child(2) ul {
    list-style: none;
    padding-right: 10px
}

.tm-footer div:nth-child(2) ul li {
    border-bottom: 1px solid #232323;
    line-height: 24px
}

.tm-footer div:nth-child(2) ul li::before {
    content: "»";
    color: #989898;
    padding-right: 10px;
}

.tm-footer div:nth-child(3) p {
    font-size: 13px;
    line-height: 16px;
    color: #666666
}

.tm-footer div:nth-child(3) a {
    display: block;
    text-align: right
}

.tm-footer div:nth-child(4) div {
    padding: 0;
}

.tm-footer div:nth-child(4) div input {
    background-color: #232323;
    border: none
}

.tm-footer div:nth-child(4) div:nth-child(4) input[type="text"] {
    height: 100px;
    padding-bottom: 70px
}

/********************** copyright section  ********************/

.tm-copyright {
    height: 60px;
    background-color: #222222;
}

.tm-copyright div {
    padding: 15px;
    color: #666666;
    border: 1px solid #202020;
    -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.tm-copyright div:nth-child(2) {
    text-align: right;
}